<html>
   <head>
      <title>RubyJobHunt</title>
      <style type='text/css'>
         body *   { font-family: arial, sans-serif; font-weight: normal; }
         h1, h1 * { font-family: courier, serif;  font-weight: bold; color: lightgray; }
         h1 span  { color: red; }
         h2 span  { font-size: 0.6em; font-weight: normal; color: gray; }
         p        { width: 61.2%; text-align: justify; }
      </style>
   </head>
   <body>
      <h1><span>Ruby</span>JobHunt.com</h1>
      
      <form action='/'>
         <input type='text' name='q'/>
         <button>Search</button>
      </form>
      
      <% @jobs.each do %>
         <h2>
            <a href='http://jobs.rubynow.com/jobs/show/3201'>Ruby Developers Needed South Florida</a> 
            <span>Fri 21 July</span>
         </h2>
         
         <p>
            BeQuick Software, a fast growing company that has already achieved great success creating hosted software for the telecommunications industry, is looking for experienced, energetic Ruby on Rails programmers to help build and launch a brand new hosted product offering. The new product will target small and medium sized businesses in a variety of industries &hellip; <a href=''>read more</a>
         </p>
         
         <h2>
            <a href='http://jobs.rubynow.com/jobs/show/3201'>Ruby on Rails Job at Fast Growing Startup</a> 
            <span>Fri 21 July</span>
         </h2>
         <p>
            Seeking Ruby on Rails performance expert. Must have demonstrated experience tuning Rails for high-volume community-based Web sites (ideally with traffic over 5 Million unique users per month). We are looking for someone to help increase the speed of our increasingly popular food and dining based website. Come help us with our optimization! &hellip; <a href=''>read more</a>
         </p>
      <% end %>
      
      <%# Pagination %>
      <p>
         Page <a href='#'>1</a> | <a href='#'>2</a> | <a href='#'>3</a>
      </p>
   </body>
</html>
