<html>
   <head>
      <title>RubyJobHunt</title>
      <style type='text/css'>
         body *   { font: normal normal 10pt verdana, sans-serif; }
         h1, h1 * { font: normal bold   30pt courier, serif; }
         h1       { color: lightgray; margin-bottom: 0; }
         h1 span  { color: red; }
         a        { text-decoration: none; }
         dt       { color: gray; font-style: italic; }
      </style>
      <link type="application/rss+xml" href="/feed.rss" title="Ruby and Rails jobs: rubyjobhunt.heroku.com" rel="alternate"/>
   </head>
   <body>
      <h1><span>Ruby</span>JobHunt.com</h1>
      <p>
         Your source for all Ruby and Ruby on Rails jobs.
         <a href="/feed.rss">RSS feed</a>
      </p>
      
      <% @jobs.group_by {|job| job.date }.each do |jobs_by_date| %>
         <dl>
            <dt><%= jobs_by_date.first.strftime '%A %d %B' %></dt>
            <% jobs_by_date.last.each do |job| %>
               <dd>
                  <a href="<%= job.url %>"><%= job.title %></a>
               </dd>
            <% end %>
         </dl>
      <% end %>
   </body>
</html>
