<html>
   <head>
      <title>RubyJobHunt</title>
      <style type='text/css'>
         body     { margin-right: 19%; }
         h2       { margin-top: 2.4em; }
         
         body *   { font: normal normal 10pt verdana, sans-serif; }
         h1, h1 * { font: normal bold   30pt courier, serif; }
         a        { text-decoration: none; }
         
         h1       { color: lightgray; }
         h1 span  { color: red; }
         h2 span  { color: gray; }
      </style>
   </head>
   <body>
      <h1><span>Ruby</span>JobHunt.com</h1>
      
      <form action='/'>
         <input type='text' name='q'/>
         <button>Search</button>
      </form>
      
      <% @jobs.each do |job| %>
         <h2>
            <a href='<%= job.url %>'><%= job.title %></a> 
            <span><%= job.created_on.strftime '%a %d %b' %></span>
         </h2>
         <p><%= job.content[0..400] rescue nil %> &hellip; </p>
      <% end %>
   </body>
</html>
